<p id="notice"><%= notice %></p>

<h1>Tracks</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Total time</th>
      <th>Tag</th>
      <th>Work type</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.start_time %></td>
        <td><%= track.end_time %></td>
        <td><%= track.total_time %></td>
        <td><%= track.tag %></td>
        <td><%= track.work_type %></td>
        <td><%= track.user %></td>
        <td><%= link_to 'Edit', edit_user_track_path(id: track.id, user_id: track.user_id) %></td>
        <td><%= link_to 'Destroy', user_track_path(id: track.id, user_id: track.user_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
