<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @track.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @track.end_time %>
</p>

<p>
  <strong>Total time:</strong>
  <%= @track.total_time %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @track.tag %>
</p>

<p>
  <strong>Work type:</strong>
  <%= @track.work_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @track.user %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
